= form_for @list do |form|
  = form.text_field :name, autofocus: true, placeholder: 'Name'
  = form.submit 'Submit'
  = link_to 'Delete', list_path(@list.id), method: :delete,  type: :button
  = link_to 'Cancel', lists_path, type: :button
