%table#header
  %tr
    %th
      %h3.caps-header= @list.name
    %th
      = link_to 'Edit', edit_list_path(@list), class: :btn
= form_for :todo, html: {class: 'add-todo'} do |form|
  = form.text_field :description, autofocus: true, placeholder: 'Description', class: 'add-description'
  = form.submit '+', class: 'add-todo-button', data: {:"list-id" => @list.id, disable_with: false }
- if @todos.first
  %table#todos
    - @todos.each_with_index do |todo, i|
      %tr
        %td.description= auto_link(todo.description, html: {target: '_blank'})
        %td= button_to '–', todo, method: :delete, data: { :"todo-id" => todo.id, :"delete-todo-button" => true }
- else
  %table#todos
  #no-todos
    Enter a description of your todo in the box above.
