<% if @todos.first %>
  <table class="table table-striped">
    <thead>
      <h4>
      <tr>
        <td>#</td>
        <td>Description</td>
        <td>Days Left</td>
        <td></td>
      </tr>
    </h4>
    </thead>
    <% @todos.each_with_index do |todo, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= todo.description %></td>
        <td class='days-left'><%= todo.days_left.ceil %></td>
        <td><%= link_to "Delete", "javascript:void(0);", class: 'btn btn-success', data: { :"todo-id" => todo.id, :"delete-todo-button" => true } %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Add todo", new_todo_path, class: 'btn btn-success' %>
<% else %>
  <h3>No todos!</h3>
  <%= link_to "Add todo", new_todo_path, class: 'btn btn-success' %>
<% end %>