<% if @todos.first %>
  <table class="table table-striped" id="todos">
    <thead>
      <h4>
      <tr>
        <td>#</td>
        <td>Description</td>
        <td>Days Left</td>
        <td></td>
      </tr>
    </h4>
    </thead>
    <% @todos.each_with_index do |todo, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= todo.description %></td>
        <td class='days-left'><%= todo.days_left.ceil %></td>
        <td><%= link_to "Delete", "javascript:void(0);", class: 'btn btn-success', data: { :"todo-id" => todo.id, :"delete-todo-button" => true } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>No todos!</h3>
<% end %>
<%= form_for @todos.new, :html => {:class => "form-horizontal center"} do |form| %>
  <div class="form-group">
    <div class="col-md-10">
      <%= form.text_field :description, autofocus: true, placeholder: 'Description', class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= form.submit 'Add Todo', class: 'btn btn-success', data: { :"todo-id" => @todos.new.id, :"create-todo-button" => true } %>
    </div>
  </div>
<% end %>