- if @todos.first
  %table#todos
    %thead
      %tr
        %td #
        %td Description
        %td Days Left
        %td
    - @todos.each_with_index do |todo, i|
      %tr
        %td= i+1
        %td= todo.description
        %td.days-left= todo.days_left.ceil
        %td= button_to "Delete", todo, method: :delete, data: { :"todo-id" => todo.id, :"delete-todo-button" => true }
- else
  #no-todos
    %h3 No todos yet.
    Enter a description of your task in the box below.
  %table#todos
    %thead
      %tr
        %td #
        %td Description
        %td Days Left
        %td
= form_for :todo do |form|
  = form.text_field :description, autofocus: true, placeholder: 'Description'
  = form.submit 'Add Todo', data: { :"create-todo-button" => true }
