!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blocitoff
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - if user_signed_in?
      %meta{:content => "#{current_user.auth_token}", :name => "auth-token"}/
  %body
    = render 'layouts/flash_messages'
    %section.main
      .header-inner
        .hamburger
          = link_to "", "javascript:void(0);", class: "box-shadow-menu"
        %aside.nav
          %ul
            %li.logo
              %a{href: root_path}
                <span class='color1'>Breau</span><span class='color2'>todo</span>
            %li= link_to 'About', about_index_path
            %li= link_to "Lists", lists_path
            %li= link_to "All Todos", todos_path
            - if user_signed_in?
              %li= current_user.email
              %li= button_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign In", new_user_session_path
      %article
        = yield
