!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blocitoff
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - if user_signed_in?
      %meta{:content => "#{current_user.auth_token}", :name => "auth-token"}/
  %body
    %section.main
      .header-inner
        .hamburger
          = link_to "", "javascript:void(0);", class: "box-shadow-menu"
        %aside.nav
          %ul
            %li.logo
              %a{href: 'https://github.com/jpalmieri/blocitoff-api'}
                <span class='color1'>Breau</span><span class='color2'>todo</span>
            %li= link_to 'About', about_index_path
            %li= link_to "Lists", lists_path
            %li= link_to "All Todos", todos_path
            - if user_signed_in?
              %li= current_user.email
              %li= button_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign In", new_user_session_path
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:notice]
      - elsif flash[:error]
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:error]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:alert]
      %article
        = yield
